<div class="container">
    <div class="calculator">
            <h3 class="main-label">{{ title }}</h3>
        <div class="row header">
            <textarea class="" name="" id="" rows="2"></textarea>
        </div>
        <div class="row footer">
            <div class="col-sm-2">7</div>
            <div class="col-sm-2">8</div>
            <div class="col-sm-2">9</div>
            <div class="col-sm-2">/</div>
        </div>
        <div class="row footer">
            <div class="col-sm-2">4</div>
            <div class="col-sm-2">5</div>
            <div class="col-sm-2">6</div>
            <div class="col-sm-2">*</div>
        </div>
        <div class="row footer">
            <div class="col-sm-2">1</div>
            <div class="col-sm-2">2</div>
            <div class="col-sm-2">3</div>
            <div class="col-sm-2">-</div>
        </div>
        <div class="row footer">
            <div class="col-sm-2">0</div>
            <div class="col-sm-2">.</div>
            <div class="col-sm-2 plus">=</div>
            <div class="col-sm-2">+</div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>